body, html {
    font-family: 'Merriweather', serif;
    margin: 0;
    overflow-x: hidden;
}

.content {
    width: 100%;
    max-width: 680px;
    border-top: solid 2px #22ff94;
    min-height: 100vh;
    position: relative;
    z-index: 50;
}

.content-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

li {
  font-size: 12.5pt;
  line-height: 2;
  text-align: left;
  margin-bottom: 20px;
}

p {
    font-size: 12.5pt;
    line-height: 2;
    text-align: left;
    margin-bottom: 50px;
}

h4 + p::first-letter {
    font-size: 200%;
    vertical-align: middle;
    line-height: 50%;
}

h3 + p::first-letter {
    font-size: 200%;
    vertical-align: middle;
    line-height: 50%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Slab', serif;
}

h1 {
    font-size: 100pt;
    margin-bottom: 30px;
}

h3 {
    font-size: 40pt;
}

h4 {
    font-size: 25pt;
}

.nav-bar {
    top: 130px;
    position: fixed;
    width: 300px;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    border-right: solid 2px rgba(0, 0, 0, 0.31);
}

.nav-item {
    user-select: none;
    text-decoration: none;
    color: black;
    font-size: 15pt;
    padding: 20px 20px 20px 60px;
}

.sub-item {
  padding-left: 80px;
  font-size: 13pt;
}

.nav-item-container {
  display: flex;
  flex-direction: column;
}

.nav-item:hover {
    background-color: #22ff94;
    border-radius: 5px;
    transform: translate(0, -2px);
}

.nav-item {
    position: relative;
    overflow: hidden;
}

.nav-item:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 5px;
    height: 5px;
    background: rgba(255, 255, 255, .5);
    opacity: 0;
    border-radius: 100%;
    transform: scale(1, 1) translate(-50%);
    transform-origin: 50% 50%;
}

@keyframes ripple {
    0% {
        transform: scale(0, 0);
        opacity: 1;
    }
    20% {
        transform: scale(25, 25);
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: scale(150, 40);
    }
}

.nav-item:focus:not(:active)::after {
    animation: ripple 1s ease-out;
}

.equation {
    text-align: center;
}

.top-bar {
    display: none;
    opacity: 0;
    position: fixed;
    background-color: #fefffd;
    width: 100%;
    height: 60px;
    flex-direction: row;
    -webkit-box-shadow: 0px 3px 7px 1px rgba(0,0,0,0.36);
    -moz-box-shadow: 0px 3px 7px 1px rgba(0,0,0,0.36);
    box-shadow: 0px 3px 7px 1px rgba(0,0,0,0.36);
    animation: opacity 300ms;
    z-index: 100;
}

.hamburger {
    user-select: none;
    font-size: 48px;
    padding: 20px;
    align-self: center;
    margin-top: 15px;
    cursor: pointer;
}

.welcome-button {
    font-size: 22pt;
    text-decoration: none;
    color: black;
    border-radius: 50px;
    padding: 15px;
    border: solid 2px black;
    margin-bottom: 30px;
    margin-top: 20px;
    position: relative;
    top: 40px;
}

.welcome-button:hover {
    background-color: #22ff94;
}

.welcome-button > span:hover{
    transform: translate(0, 2px);
}

.material-icons.md-48 { font-size: 48px; }

p > a {
    text-decoration: none;
    background-color: #22ff94;
    color: black;
    border-radius: 5px;
    padding: 6px;
}

.link-active {
    border-left: 10px solid #22ff94;
}

@media (min-width: 1230px) {
    .top-line {
        position: fixed;
        border-top: solid 2px #22ff94;
        width: 100%;
    }
}

@media (max-width: 1430px) and (min-width: 1230px) {
    .content-container {
        justify-content: flex-end;
    }

    .content {
        margin-right: 20%;
    }

    .nav-bar {
        width: 220px;
        padding-left:4px;
    }

}

@media (max-width: 1230px) {

    h1 {
        font-size: 60pt;
        margin-bottom: 30px;
    }

    h3 {
        font-size: 30pt;
    }

    h4 {
        font-size: 22pt;
    }

    .nav-bar {
        transition: 300ms ease-in-out;
    }

    .top-bar {
        display: flex;
        opacity: 1;
        border-top: solid 2px #22ff94;
    }

    .content-container {
        justify-content: center;
    }

    .content {
        margin: 0 30px;
    }

    .body {
        transition: 300ms ease-in-out;
    }

    .show {
        opacity: 1;
    }

    .hide {
        opacity: 0;
    }

    .translate-content {
        transform: translate(300px);
    }

    .translate-menu {
        transform: translate(-300px);
        transition: 300ms ease-in-out;
    }
}
